@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background-color: #f6f6f6;
    --foreground-coloe: #003cff;
    --primary-text-color: #0a0a0a;
    --secondary-text-color: #ffff;
    --toggle-bg: #f0eb9d;
    --toggle-fg: #ffd000;
  }

  body {
    overflow-y: auto;
  }

  [dark-theme="dark"] {
    --bachground-color: #0a0a0a;
    --foreground-color: #567aff;
    --primary-text-color: #ffff;
    --toggle-bg: #283452;
    --toggle-fg: #00a6ff;
  }

  .theme {
    background-color: var(--background-color);
    color: var(--primary-text-color);
  }

  .button {
    color: var(--primary-text-color);
  }
}
